echo "Sourcing .env.secret"

export GOOGLE_CLIENT_SECRET="<YOUR SECRET HERE>"
export GITHUB_CLIENT_SECRET="<YOUR SECRET HERE>"
#export KEYCLOAK_ADMIN_SECRET="<YOUR SECRET HERE>"
export KEYCLOAK_ADMIN_PASSWORD="<YOUR SECRET HERE>"
