/* App.css */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-container {
    display: flex;
    width: 100vw; /* Ensures it takes the full width of the viewport */
    padding-top: 64px; /* Adjust height to match navbar */
}
