/* src/Navbar.css */
@import url("global.css");

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--arkavo-dark-orange);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.navbar.show {
    transform: translateY(0);
}

.navbar.hide {
    transform: translateY(-100%);
}

.navbar-logo .home-link {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; /* Add a modern font */
}

.navbar-logo .home-link:hover {
    color: #f5f5f5; /* Slightly lighter color on hover */
    text-decoration: underline;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Add spacing between icons and profile picture */
}

.icon {
    font-size: 1.5em;
    color: #ffffff;
}

.notification-icon, .dm-icon {
    margin-right: 10px; /* Space between icons if needed */
}

.profile-picture {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}
